<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Memory Game</title>
  <link rel="stylesheet" href="../css/home.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
  <nav class="header">
    <button onclick="myFunction()" id="button" value="true"><img src="../images/menu-icon.svg" alt="menu icon" id="menu-icon"></button>
  <h1 class="logo"><a href="#">MEMORY GAME</a></h1>
  <ul class="main-nav">
      <li><a href="../pages/start.html" target="_top">Home</a></li>
      <li><a href="../pages/leaderBoard.html" target="_top">Leaderboard</a></li>
      <li><a href="../pages/about.html" target="_top">About</a></li>
      <li><a href="../pages/index.html" target="_top">Log Out</a></li>
  </ul>
</nav>
<script>
    function myFunction(){
        alert(buttonStatus);
    }
</script>
</html>
