body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  flex-direction: column;
  
}

table {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #796a96;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
