body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
    color: #FFFFFF;
}

header {
    width: 100%;
    background-color: #c0c0c0;
}

#navigation {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 20px;
}

#navigation li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;
    width: 90%;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    width: 40%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.game-description h2 {
    font-size: 24px;
    color: #333;;
}

.game-description p {  
    font-size: 18px;
    color: #666;
}

.game-action a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #796a96;
    border-radius: 5px;
    font-size: 20px;
    transition: background-color 0.3s ease;
}
.start-images{
    height: 5rem;
    width: 5rem;
}

.game-action a:hover {
    background-color: #796a96
}
.footer-content {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
}